<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Submit Your Info</h1>
  <form method="POST" action="/submit">
    <label>Name: <input type="text" name="name" required /></label><br><br>
    <label>Email: <input type="email" name="email" required /></label><br><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
