<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Welcome to Week-4 Express.js Demo</h1>
  <ul>
    <li><a href="/form">Greet Form</a></li>
    <li><a href="/add-user">Add User</a></li>
    <li><a href="/users">View Users</a></li>
    <li><a href="/cause-error">Simulate Error</a></li>
  </ul>
</body>
</html>
